<form action="../place_reserve/" method="post">
{% csrf_token %}
	<div id="car_summary">
				<p id="offer_summary" align="left">
					<p id="cost">Podsumowanie oferty: </p>
					<img class="place_img" src={{o.zdj_link}} />
					</br>{{o.opis}} 
					</br>Miejsce: <b>{{o.adres}},{{o.miasto}} </b>
					</br>Liczba pokoi: <b>{{o.licz_pokoi}}</b> 
					</br>Cena za miesiac: <b>{{o.cena}}</b> </p></br>
		<input id="days" type="text" name="days" placeholder="Ilosc miesiecy" data-cena="{{o.cena}}" required>
		</br>Cena za wybrane miesiace: <p id="cost_final">0{{cena}}</p>zl
	</div>
	<input id="rent" type="submit" value="Wypozycz">
</form>
